@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

:root {
    --white: #f9faff;
    --platinum: #e3e4e8;
    --windsurfing: #32779b;
    --marina: #5a91c7;
    --gray: #9a9a9a;
    --onyx: #3c3d44;
    --charcoal: #343c47;
    --ld-bkgd: light-dark(var(--platinum), var(--charcoal));
    --ld-text: light-dark(var(--onyx), var(--white));
    --ld-projects: light-dark(var(--white), #2e313d);
    --ld-blue: light-dark(var(--windsurfing), #6dadd0);
    --corners: 24px 0;
    --corners-sm: 10px 0;
    --base-font-size: 1rem;
}

/* set the box sizing to border-box for layouts */
html {
    box-sizing: border-box;
    color-scheme: light dark;
}
html:has(#mode-switcher #light:checked) {
    color-scheme: light;
}
html:has(#mode-switcher #dark:checked) {
    color-scheme: dark;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* basic page set to our font size and font family */
body {
    font-size: var(--base-font-size);
    font-family: "Inter", sans-serif;
    background-color: var(--ld-bkgd);
    color: var(--ld-text);
    overflow-x: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    margin: 0;
    font-size: calc(var(--base-font-size) * 2.9);
}
h2 {
    margin: 0;
    font-size: var(--base-font-size);
    text-transform: uppercase;
    color: var(--ld-blue);
    letter-spacing: 0.25em;
}
h3 {
    margin: 0;
}
p {
    line-height: 1.5;
}
a {
    color: var(--ld-blue);
}
a:hover {
    color: var(--marina);
}

/* make sure images don't exceed the width of the window */
img {
    max-width: 100%;
    border-radius: var(--corners);
}

/* svg social icon bar */
.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
}
ul svg {
    width: 36px;
    height: 36px;
}
.social {
    fill: var(--ld-blue);
}
.social:hover {
    fill: var(--marina);
}

/* light-dark buttons */
@layer switch {
    .radio-switch {
        border: none;
        padding: 0;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .radio-switch legend {
        font-size: 2px;
        opacity: 0;
        position: absolute;
    }
    .radio-switch label {
        display: inline-block;
        line-height: 2;
        font-size: 0.9rem;
        position: relative;
        z-index: 2;
    }
    .radio-switch input {
        opacity: 0;
        position: absolute;
    }
    .radio-switch label:first-of-type {
        padding-right: 5em;
    }

    .radio-switch label:last-child {
        margin-left: -4.25em;
        padding-left: 5em;
    }
    .radio-switch:focus-within label:first-of-type:after {
        box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--marina);
    }

    /* making the switch UI.  */
    .radio-switch label:first-of-type:before,
    .radio-switch label:first-of-type:after {
        border: 1px solid var(--onyx);
        content: "";
        height: 2em;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        vertical-align: middle;
    }

    .radio-switch label:first-of-type:before {
        background: var(--white);
        border: 1px solid var(--onyx);
        border-radius: 100%;
        position: absolute;
        right: -0.075em;
        transform: translateX(0em);
        transition: transform 0.2s ease-in-out;
        width: 2em;
        z-index: 2;
    }

    .radio-switch label:first-of-type:after {
        background: #777;
        border-radius: 1em;
        margin: 0 1em;
        transition: background 0.2s ease-in-out;
        width: 4em;
    }
    .radio-switch input:first-of-type:checked ~ label:first-of-type:after {
        background: var(--marina);
    }

    .radio-switch input:first-of-type:checked ~ label:first-of-type:before {
        transform: translateX(-2em);
    }
    .radio-switch input:last-of-type:checked ~ label:last-of-type {
        z-index: 1;
    }
}

/* about me layout styling */
.main-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}
.main-article img {
    margin: 0 auto;
    max-height: 300px;
}

/* description styling */
.description-article {
    margin: 3rem auto 3rem auto;
    text-align: center;
}
.description-article .item {
    margin: 1.5rem auto 1.5rem auto;
}

/* projects section - main */
main {
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}
.project {
    background-color: var(--ld-projects);
    padding: 3rem;
    border-radius: var(--corners);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.projects {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}
.project ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
.project li {
    background-color: var(--marina);
    color: var(--white);
    padding: 0.5rem;
    border-radius: var(--corners-sm);
    font-size: calc(var(--base-font-size) * 0.75);
}
.project img {
    grid-row: 1/2;
    filter: brightness(90%);
    filter: drop-shadow(5px 5px 5px var(--onyx));
}
.img-border {
    border: 1px solid var(--onyx);
}

/* footer styling */
footer {
    text-align: center;
}
.footer-text {
    font-size: calc(var(--base-font-size) * 0.85);
    line-height: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.footer-text-box .signature {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}
.footer-text-box .profile-pic {
    margin: 0 auto;
    max-height: 200px;
}
.footer-text-box .icons {
    margin-top: 1rem;
}
.footer-text-box .loader-container {
    width: 100%;
    height: 20px;
    background-color: var(--platinum);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.footer-text-box .loader-fill {
    height: 100%;
    width: 100%;
    background-color: var(--windsurfing);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--platinum);
    padding-right: 1rem;
}

/* css for animations */
.hidden-show-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.hidden-show-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* media queries */
@media (min-width: 750px) {
    :root {
        --base-font-size: 1.125rem;
    }
    h1 {
        margin-left: -3px;
    }
    .wrapper {
        padding: 5rem;
    }
    .main-article {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }
    .main-article img {
        max-height: 400px;
        margin: 0 0 0 auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
    .description-article {
        margin: 3rem auto 5rem auto;
        text-align: left;
    }
    .description-article .item {
        margin: 2rem auto 2rem auto;
    }
    .footer-text-box .profile-pic {
        max-height: 300px;
        margin: 0 0 0 auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
    .icons {
        justify-content: flex-start;
    }
    footer {
        text-align: left;
    }
    .footer-text {
        grid-template-columns: repeat(2, 1fr);
    }
    .radio-switch {
        justify-content: flex-end;
    }
}

@media (min-width: 850px) {
    main {
        text-align: left;
    }
    .project {
        grid-template-columns: 1fr 1fr;
    }
    .project img {
        grid-row: auto;
    }
    .project ul {
        justify-content: flex-start;
    }
}
